body{
  background-color: #f0f3f5;
  height: 1000px;

}

.main-card{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.card-title{
  text-align: left;
}

.card{
 margin-top: 50px;
 margin-left: 20px;
 margin-right: 20px;
 margin-bottom: 10px;

}


.bg-image img, .img-fluid {
  width: 100%;
  height: 250px;
  object-fit: cover;
  overflow: hidden;
}






.main-button{
  border: 0px solid #000;
}
