
.main-body-login{
  display: flex;
   background-color: azure;
  width: 900px;
  height: 700px;
  margin-top: 75px;
  margin-left: 27%;
  align-items: center;
  border-radius: 30px;
  box-shadow: 1px 1px 4px black;


}

.main-form{
  margin: auto;
  width: 500px;
}

.mb-4{
  width: 300px;
  margin: auto;



}

.mb-3{
  width: 300px;

}

.btn{
  width: 100px;
  margin: auto;

}
