.main-body-profile{
  background-color: yellow;
  width: 50%;
  margin-left: 27%;

}

.main-profile{
  display: flex;
  align-items: center;
  margin-top: 30%;


}

.ms-3 p{
  font-size: 19px;
  margin-left: 20%;
  text-align: left;

}

.button-profile button{
  font-size: 16px;
  margin-left: 100px;
}
